body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(4, 4, 4);
}

.clock{
    color: white;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
}