*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

ul,ol{
    list-style-type: none;
} 

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(235, 225, 207);
    border: 1px solid rgb(222, 244, 112);
    border-bottom: 1px solid lightblue;
    position: sticky;
    top: 0;
    bottom: 0;


}

header .center_container{
    width: 100%;
    max-width: 1200px;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 header img {  
    height: 100px;
    width: 80px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    ;
}

header nav a{
    color: cadetblue;
    font-weight: 500;
    letter-spacing: 2px;
    padding:  7px 20px;

}

header nav a:hover{
    background-color: navy;
    border-radius: 8px;
}

main{
    min-height: 100vh;
}

main section {
    min-height:  calc(100vh - 100px);
}

main #Shop{
    background-color: pink;
}

main #Order{
    background-color: rgb(218, 243, 29);
}

main #Product{
    background-color:  red;
}

main #Cart{
    background-color: mediumspringgreen;
}

.chatbot {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 16px;
}

.chatbot i{
    transition: all 1s ease-in-out;
}

.chatbot:hover i {
    font-size: medium;
}
