 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(243, 151, 151);
}

.counter {
    text-align: center;
}

h2{
    font-size: 50px;
}

button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}